MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/celeste-events
JWT_SECRET=your-super-secret-32-char-string-here
ADMIN_EMAIL=admin@celeste.com
ADMIN_PASSWORD=admin
CLIENT_URL=https://celeste-client.vercel.app
ADMIN_URL=https://celeste-admin.vercel.app
